h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
}

h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

body {
    font-family: 'Space Mono';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}